// custom colors variables

$primary: #ce854b;
$secondary: #523432;
$light: #fffaf6;

// navbar light custom colors 

$navbar-light-color : $secondary;
$navbar-light-hover-color : $primary;
$navbar-light-disabled-color: $light;
$navbar-light-active-color : $secondary;

// card custom attributes

$card-height: 100%;

// import functions and variables

@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";

// navbar active link

.navbar-nav {
  .show > .nav-link,
  .nav-link.active {
    border-bottom : 3px solid $secondary;
    font-weight : $font-weight-bold;
  }
}

// custom css


// import Bootstrap

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";